<div class="footer">
    <footer>
        <p class="copyright-text">
            Copyright &copy; 2021 All Rights Reserved.
        </p>
       
        <p>
            <a href="https://coursepress.lnu.se/kurs/server-based-web-programming/">Course webpage</a>
        </p>
    </footer>
</div>